streamlit
fastapi
uvicorn
python-dotenv
pydantic
requests

langchain
langchain-openai
langgraph
faiss-cpu
tiktoken

beautifulsoup4
lxml
pandas

pydantic_settings

langchain
langchain-community
langchain-text-splitters
langchain-openai
faiss-cpu
openai
duckduckgo-search